<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo App</title>
        <link rel="stylesheet" href="/view/css/navbar.css">
        <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    </head>
    <body>
        <!-- Remove 'active' class, this is just to show in Codepen thumbnail -->
<div class="toast active" style="visibility:hidden">
  
    <div class="toast-content">
      <i class="fas fa-solid fa-check check"></i>
  
      <div class="message">
        <span class="text text-1" id="text1">Success</span>
        <span class="text text-2" id="text2">send verification code to email successfully

        </span>
      </div>
    </div>
    <i class="fa-solid fa-xmark close"></i>
  
    <!-- Remove 'active' class, this is just to show in Codepen thumbnail -->
    <div class="progress active"></div>
  </div>
  
        <div class="Login-box">
            <h2>Sign in</h2>
            <form>
                <div class="user-box">
                    <input type="text" name="username" id="username" required="">
                    <label>Username</label>
                </div>
                <div class="user-box">
                    <input type="password" name="password" id="password" required="">
                    <label>Password</label>
                </div>
                <a onclick="SignIn()">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                </a>
            </form>
        </div>
    </body>
    <script src="/view/js/script.js"></script>
</html>