<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Todo List</title>
  <link rel="stylesheet" href="/view/css/test.css">
</head>
<body>
  <div class="container">
    <div class="lists">
      <ul>
        <li>Group 1</li>
        <li>Group 2</li>
        <li>Group 3</li>
      </ul>
    </div>
    <ul class="tasks">
      <li>Task 1</li>
      <li>Task 2</li>
      <li>Task 3</li>
    </ul>
    <form action="#">
      <input type="text" placeholder="Add task">
      <button type="submit">Add</button>
    </form>
  </div>
</body>
</html>